@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
}

body {
  font-family: var(--font-inter);
}
.animate-waddle {
  animation: waddle 2s ease-in-out infinite;
}
@keyframes waddle {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(1px);
  }
}
